# Galera has a two nodes minimum to work
# Starting with three nodes it is *mostly* ha - 5 nodes is ideal, more than 10 nodes might be a challenge (network-wise)

# nextcloud nodes need to follow pattern ncnode[1-9]
{% set servers = ['dbnode1','dbnode2','dbnode3','ncnode1','ncnode2','haproxy','minio01','minio02','minio03','minio04'] %}

# volumes per minio node
{% set disks = ['01', '02', '03', '04'] %}
# size per volume in GB
{% set volsize = 5 %}
# fs type of the volumes
{% set fstype = 'ext4' %}

{% set accesskey = 'ecloud' %}
{% set secretkey = 'asdkllajsdlkajsdlkasjd' %}
{% set options = 'http://mino0{1...2}:9000/mnt/data0{1...4}' %}
