  {% set accesskey = salt['pillar.get']('ecloud:objectstore:accesskey', 'invalid') %}
  {% set secretkey = salt['pillar.get']('ecloud:objectstore:secretkey', 'invalid') %}

MINIO_ACCESS_KEY={{ accesskey }}
MINIO_SECRET_KEY={{ secretkey }}
MINIO_OPTS=http://minio0{1...2}:9000/mnt/data0{1...4}
