#{%- set version = salt["cmd.run"]("sudo -u www-data php /var/www/nextcloud/occ status | grep ' version:' | awk '{ print $NF }'") -%}
<?php
$CONFIG = array (
    'datadirectory' => '/srv/data/nextcloud',
    'dbtype' => 'mysql',
    'trusted_domains' =>
    array (
    0 => 'localhost',
    1 => 'localhost',
    ),
    'overwrite.cli.url' => '',
    'dbname' => 'nc',
    'dbhost' => '127.0.0.1:6033',
    'dbport' => '',
    'dbtableprefix' => 'oc_',
    'dbuser' => 'ncuser',
    'dbpassword' => 'ncuser',
);